<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div> <img src="assets/icon/logo2.png" class="logito"></div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-header>
      <div style="text-align: center;">
        <img style="border-radius: 50%;" src="{{usuarioInfo.foto}}" alt="foto Perfil" width="150px" height="150px">
    </div>
  </ion-card-header>
    <ion-card-content>
      <div style="text-align: center;"
      ><h1>Mi perfil</h1>
      </div>
      <ion-item>
          <ion-label>Nombre: {{ usuarioInfo.nombre }} {{ usuarioInfo.apellido }}</ion-label>
      </ion-item> 
      <ion-item> 
          <ion-label>Telefono: {{ usuarioInfo.telefono }}</ion-label>
      </ion-item>
      <ion-item>
           <ion-label>Email: {{ usuarioInfo.correo }}</ion-label>
      </ion-item>
      <div class="divbtn">
      <ion-button (click)="irAModificarPerfil()" color="tertiary">Modificar</ion-button>
    </div>
    </ion-card-content>
  </ion-card>

</ion-content>
