<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div> <img src="assets/icon/logo2.png" class="logito"></div>
  </ion-toolbar>
</ion-header>
 
<ion-content [fullscreen]="true">

  <img src="assets/icon/ima.jpeg" alt="foto">
  <div><h1>Bienvenido a Phone-Prime</h1>
  </div>
  
  <div style="text-align: center;">
    <h2>Nosotros</h2>
    <br>
    <p>Somos una empresa independiente especializada en la venta de celulares,
       comprometidos con ofrecer a nuestros clientes las últimas novedades y 
       tecnologías en el mundo de los dispositivos móviles. Nuestra misión es 
       proporcionar productos de alta calidad, asesoramiento experto y un servicio
        excepcional para satisfacer todas las necesidades de comunicación y tecnología
         de nuestros clientes.</p>
  
  </div>

<ion-text class= "ub"> <b>¿ Podemos acceder a tu ubicacion ?</b></ion-text>
   
    <div [align]="'center'">
      <ion-button fill="clear" routerLink= "/map"  class="btnn" expand="block" >Si, acepto</ion-button>
      
     
    </div>
  
    
</ion-content>
    

    


